[submodule "submods/blaze"]
	path = submods/blaze
	url = https://bitbucket.org:blaze-lib/blaze.git
[submodule "submods/merseburg-incantation"]
	path = submods/merseburg-incantation
	url = https://github.com/flajann2/merseburg-incantation.git
